In [63]:
# import libraries
import pandas as pd
from time import time
from sqlalchemy import create_engine
import wget
import os

### Download and inspect the files

In [ ]:
# download the taxi file
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz'
if not os.path.exists('output.csv.gz'):
    wget.download(url, 'output.csv.gz')

FileNotFoundError: [Errno 2] No such file or directory: 'sample.csv.gz'

In [17]:
# read the file with 1000 rows
df = pd.read_csv('output.csv.gz', nrows=1000)
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               1000 non-null   int64
 1   lpep_pickup_datetime   1000 non-null   datetime64[ns]
 2   lpep_dropoff_datetime  1000 non-null   datetime64[ns]
 3   store_and_fwd_flag     1000 non-null   object
 4   RatecodeID             1000 non-null   int64
 5   PULocationID           1000 non-null   int64
 6   DOLocationID           1000 non-null   int64
 7   passenger_count        1000 non-null   int64
 8   trip_distance          1000 non-null   float64
 9   fare_amount            1000 non-null   float64
 10  extra                  1000 non-null   float64
 11  mta_tax                1000 non-null   float64
 12  tip_amount             1000 non-null   float64
 13  tolls_amount           1000 non-null   float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  1000 non-null   float64
 16  total_amount           1000 non-null   float64
 17  payment_type           1000 non-null   int64
 18  trip_type              1000 non-null   int64
 19  congestion_surcharge   1000 non-null   float64
dtypes: datetime64[ns](2), float64(10), int64(7), object(1)
memory usage: 156.4+ KB

In [66]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

Read the dataset in chunks

In [65]:
# Read chunks
chunk_size = 10000
df_iter = pd.read_csv('output.csv.gz', iterator=True, chunksize=chunk_size)

for chunk_number, chunk in enumerate(df_iter):
    t_start = time()
    
    # Converter datas
    chunk['lpep_pickup_datetime'] = pd.to_datetime(chunk['lpep_pickup_datetime'])
    chunk['lpep_dropoff_datetime'] = pd.to_datetime(chunk['lpep_dropoff_datetime'])
    
    # Inserir chunk
    chunk.to_sql(name='green_taxi_data', 
                 con=engine, 
                 if_exists='append' if chunk_number > 0 else 'replace',
                 index=False)
    
    print(f'Chunk {chunk_number+1}: {chunk_size} linhas inseridas em {time() - t_start:.2f} segundos')

Chunk 1: 10000 linhas inseridas em 0.60 segundos
Chunk 2: 10000 linhas inseridas em 0.53 segundos
Chunk 3: 10000 linhas inseridas em 0.52 segundos
Chunk 4: 10000 linhas inseridas em 0.56 segundos
Chunk 5: 10000 linhas inseridas em 0.51 segundos
Chunk 6: 10000 linhas inseridas em 0.52 segundos
Chunk 7: 10000 linhas inseridas em 0.98 segundos
Chunk 8: 10000 linhas inseridas em 0.51 segundos
Chunk 9: 10000 linhas inseridas em 0.51 segundos
Chunk 10: 10000 linhas inseridas em 0.51 segundos
Chunk 11: 10000 linhas inseridas em 0.52 segundos
Chunk 12: 10000 linhas inseridas em 0.54 segundos
Chunk 13: 10000 linhas inseridas em 0.53 segundos
Chunk 14: 10000 linhas inseridas em 0.53 segundos
Chunk 15: 10000 linhas inseridas em 0.53 segundos
Chunk 16: 10000 linhas inseridas em 0.63 segundos
Chunk 17: 10000 linhas inseridas em 0.54 segundos
Chunk 18: 10000 linhas inseridas em 0.58 segundos
Chunk 19: 10000 linhas inseridas em 0.55 segundos
Chunk 20: 10000 linhas inseridas em 0.55 segundos
Chunk 21: 10000 linhas inseridas em 0.54 segundos
Chunk 22: 10000 linhas inseridas em 0.52 segundos
Chunk 23: 10000 linhas inseridas em 0.72 segundos
Chunk 24: 10000 linhas inseridas em 0.52 segundos
Chunk 25: 10000 linhas inseridas em 1.05 segundos
Chunk 26: 10000 linhas inseridas em 0.54 segundos
Chunk 27: 10000 linhas inseridas em 0.53 segundos
Chunk 28: 10000 linhas inseridas em 0.54 segundos
Chunk 29: 10000 linhas inseridas em 1.05 segundos
Chunk 30: 10000 linhas inseridas em 0.52 segundos
Chunk 31: 10000 linhas inseridas em 0.52 segundos
Chunk 32: 10000 linhas inseridas em 0.62 segundos
Chunk 33: 10000 linhas inseridas em 4.11 segundos
Chunk 34: 10000 linhas inseridas em 0.52 segundos
Chunk 35: 10000 linhas inseridas em 0.56 segundos
Chunk 36: 10000 linhas inseridas em 0.53 segundos
Chunk 37: 10000 linhas inseridas em 0.53 segundos
Chunk 38: 10000 linhas inseridas em 0.54 segundos
Chunk 39: 10000 linhas inseridas em 0.62 segundos
Chunk 40: 10000 linhas inseridas em 0.45 segundos
Chunk 41: 10000 linhas inseridas em 0.44 segundos
Chunk 42: 10000 linhas inseridas em 0.44 segundos
Chunk 43: 10000 linhas inseridas em 0.45 segundos
Chunk 44: 10000 linhas inseridas em 0.49 segundos
Chunk 45: 10000 linhas inseridas em 0.44 segundos
Chunk 46: 10000 linhas inseridas em 0.45 segundos
Chunk 47: 10000 linhas inseridas em 0.46 segundos
Chunk 48: 10000 linhas inseridas em 0.30 segundos

In [53]:
# how many unique values are in the column 'PULocationID'?
df['PULocationID'].nunique()

114

In [54]:
# how many unique values are in the column 'DOLocationID'?
df['DOLocationID'].nunique()

175

In [55]:
# schema of the file
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                         int64
congestion_surcharge            float64
dtype: object

In [19]:
# convert to datetime format
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [20]:
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                         int64
congestion_surcharge            float64
dtype: object

In [62]:
df['lpep_pickup_datetime'].describe()

count                             1000
mean     2019-10-01 04:03:42.524000256
min                2019-09-30 23:52:33
25%                2019-10-01 01:16:57
50%                2019-10-01 04:04:29
75%                2019-10-01 06:38:55
max                2019-10-01 18:39:58
Name: lpep_pickup_datetime, dtype: object

In [25]:
# download the zones file
url2 = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"
wget.download(url2, 'output.csv')

'output.csv'

In [26]:
df_zones = pd.read_csv('output.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [27]:
df_zones.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [57]:
# how many unique values are in the column 'LocationID'?
df_zones['LocationID'].nunique()

265

In [67]:
df_zones.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')

### Create the connection

In [31]:
engine = create_engine('postgresql://user:mysecretpass@localhost:5433/ny_green_taxi')

In [58]:
# Ingest the green taxi data into the database
df.to_sql('green_taxi', engine, if_exists='replace')

1000

In [59]:
# Ingest the zones data into the database
df_zones.to_sql('zones', engine, if_exists='replace')

265

In [60]:
# Verify inseted records
query = "SELECT COUNT(*) FROM green_taxi"
result = pd.read_sql(query, engine)
print(f"\nRegistros inseridos: {result.iloc[0,0]}")

Registros inseridos: 1000

In [61]:
# Verify inseted records
query = "SELECT COUNT(*) FROM zones"
result = pd.read_sql(query, engine)
print(f"\nRegistros inseridos: {result.iloc[0,0]}")

Registros inseridos: 265