In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

your 131072x1 screen size is bogus. expect trouble

25/03/01 09:52:00 WARN Utils: Your hostname, CairoPC resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/03/01 09:52:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

25/03/01 09:52:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read \
    .option("header", "true") \
    .csv('/home/de-zoomcamp-2025/5_batch/data/fhvhv_tripdata_2021-01.csv')

df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   null|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   null|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   null|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   null|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   null|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   null|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   null|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   null|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   null|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   null|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   null|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   null|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   null|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   null|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   null|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   null|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   null|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   null|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   null|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [4]:
df.head(10)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:33:44', dropoff_datetime='2021-01-01 00:49:07', PULocationID='230', DOLocationID='166', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:55:19', dropoff_datetime='2021-01-01 01:18:21', PULocationID='152', DOLocationID='167', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:23:56', dropoff_datetime='2021-01-01 00:38:05', PULocationID='233', DOLocationID='142', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:42:51', dropoff_datetime='2021-01-01 00:45:50', PULocationID='142', DOLocationID='143', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:48:14', dropoff_datetime='2021-01-01 01:08:42', PULocationID='143', DOLocationID='78', SR_Flag=None),
 Row(hvfhs_license_num='HV0005', dispatching_base_num='B02510', pickup_datetime='2021-01-01 00:06:59', dropoff_datetime='2021-01-01 00:43:01', PULocationID='88', DOLocationID='42', SR_Flag=None),
 Row(hvfhs_license_num='HV0005', dispatching_base_num='B02510', pickup_datetime='2021-01-01 00:50:00', dropoff_datetime='2021-01-01 01:04:57', PULocationID='42', DOLocationID='151', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:14:30', dropoff_datetime='2021-01-01 00:50:27', PULocationID='71', DOLocationID='226', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02875', pickup_datetime='2021-01-01 00:22:54', dropoff_datetime='2021-01-01 00:30:20', PULocationID='112', DOLocationID='255', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02875', pickup_datetime='2021-01-01 00:40:12', dropoff_datetime='2021-01-01 00:53:31', PULocationID='255', DOLocationID='232', SR_Flag=None)]

In [5]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True)])

Create dataset with 1000 rows

In [57]:
#!head -n 1001 'data/fhvhv_tripdata_2021-01.csv' > 'data/head.csv'
!head -n 10 '/home/de-zoomcamp-2025/5_batch/data/fhvhv_tripdata_2021-01.csv'

hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag
HV0003,B02682,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,
HV0003,B02682,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,
HV0003,B02764,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,
HV0003,B02764,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,
HV0003,B02764,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,
HV0005,B02510,2021-01-01 00:06:59,2021-01-01 00:43:01,88,42,
HV0005,B02510,2021-01-01 00:50:00,2021-01-01 01:04:57,42,151,
HV0003,B02764,2021-01-01 00:14:30,2021-01-01 00:50:27,71,226,
HV0003,B02875,2021-01-01 00:22:54,2021-01-01 00:30:20,112,255,

In [6]:
df_head = df.limit(1000)

In [ ]:
#df_head.write.csv('/home/de-zoomcamp-2025/5_batch/data/head.csv', header=True, mode='overwrite')

In [7]:
df_head.head()

Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:33:44', dropoff_datetime='2021-01-01 00:49:07', PULocationID='230', DOLocationID='166', SR_Flag=None)

In [8]:
import pandas as pd

In [9]:
df_pandas = pd.read_csv('/home/de-zoomcamp-2025/5_batch/data/head.csv/part-00000-6bdda71f-682a-4ae3-9f51-4f36609da291-c000.csv')

In [10]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

Schema

In [58]:
from pyspark.sql import types

schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [12]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('/home/de-zoomcamp-2025/5_batch/data/fhvhv_tripdata_2021-01.csv')

In [13]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropoff_datetime', TimestampType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('SR_Flag', StringType(), True)])

Partition

In [28]:
df = df.repartition(24)

In [ ]:
df.write.parquet('/home/de-zoomcamp-2025/5_batch/data/fhvhv/2021/01/')

25/02/28 21:28:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/02/28 21:28:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/02/28 21:28:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/02/28 21:28:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/02/28 21:28:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/02/28 21:28:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/02/28 21:28:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/02/28 21:28:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/02/28 21:28:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

25/02/28 21:28:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/02/28 21:28:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/02/28 21:28:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/02/28 21:28:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/02/28 21:28:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/02/28 21:28:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/02/28 21:28:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/02/28 21:28:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/02/28 21:28:42 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [79]:
df = spark.read.parquet('/home/de-zoomcamp-2025/5_batch/data/fhvhv/2021/01')

Parquet file contain schema information

In [80]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

User defined function

SELECT * FROM df WHERE hvfhs_license_num = HV0003

In [81]:
from pyspark.sql import functions as F

In [82]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02878|2021-01-01 20:17:37|2021-01-01 20:56:04|         132|         246|   null|
|           HV0003|              B02872|2021-01-02 15:58:47|2021-01-02 16:25:07|         205|          98|   null|
|           HV0003|              B02764|2021-01-02 16:51:34|2021-01-02 17:15:32|          77|         155|   null|
|           HV0005|              B02510|2021-01-02 21:03:39|2021-01-02 21:36:56|          51|         166|   null|
|           HV0005|              B02510|2021-01-03 15:00:27|2021-01-03 15:13:59|          18|         259|   null|
|           HV0003|              B02865|2021-01-02 03:15:18|2021-01-02 03:35:44|          77|          80|   null|
|           HV0005|              B02510|2021-01-02 13:12:11|2021-01-02 13:23:34|         113|         170|   null|
|           HV0003|              B02872|2021-01-02 20:22:58|2021-01-02 20:28:47|         186|         249|   null|
|           HV0003|              B02867|2021-01-03 08:35:23|2021-01-03 09:11:53|          85|          14|   null|
|           HV0003|              B02866|2021-01-03 16:19:47|2021-01-03 16:38:38|         225|          35|   null|
|           HV0005|              B02510|2021-01-02 00:54:56|2021-01-02 01:11:40|         202|          87|   null|
|           HV0003|              B02875|2021-01-02 17:45:13|2021-01-02 18:15:55|         147|         220|   null|
|           HV0003|              B02871|2021-01-03 19:58:04|2021-01-03 20:13:21|         252|         223|   null|
|           HV0003|              B02617|2021-01-03 15:36:47|2021-01-03 15:50:11|          17|          97|   null|
|           HV0003|              B02877|2021-01-01 21:00:03|2021-01-01 21:04:58|         210|         210|   null|
|           HV0005|              B02510|2021-01-01 18:14:19|2021-01-01 18:23:29|         155|         155|   null|
|           HV0003|              B02682|2021-01-03 00:53:34|2021-01-03 01:04:45|          17|          62|   null|
|           HV0003|              B02764|2021-01-03 05:17:38|2021-01-03 05:21:16|          86|          86|   null|
|           HV0005|              B02510|2021-01-01 17:17:21|2021-01-01 17:23:57|          48|          68|   null|
|           HV0005|              B02510|2021-01-01 16:05:29|2021-01-01 16:19:58|          39|          89|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [83]:
def crazy_stuff(base_num):
    print(f"base_num: {base_num}")  # Debug print
    if base_num is None or len(base_num) < 1:
        return None
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [84]:
crazy_stuff('B02510')

base_num: B02510

'e/9ce'

In [85]:
crazy_stuff('B02884')

base_num: B02884

's/b44'

In [86]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [92]:
#df \
#    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
#    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
#    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
#    .select('base_id', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
#    .show()

In [91]:
# Register the DataFrame as a temporary view
df.createOrReplaceTempView("trips")

# Use SQL expressions for the transformation
sql_result = spark.sql("""
    SELECT 
        CASE 
            WHEN dispatching_base_num IS NULL OR LENGTH(dispatching_base_num) < 2 THEN NULL
            WHEN CAST(SUBSTRING(dispatching_base_num, 2) AS INT) % 7 = 0 THEN CONCAT('s/', LPAD(CONV(SUBSTRING(dispatching_base_num, 2), 10, 16), 3, '0'))
            WHEN CAST(SUBSTRING(dispatching_base_num, 2) AS INT) % 3 = 0 THEN CONCAT('a/', LPAD(CONV(SUBSTRING(dispatching_base_num, 2), 10, 16), 3, '0'))
            ELSE CONCAT('e/', LPAD(CONV(SUBSTRING(dispatching_base_num, 2), 10, 16), 3, '0'))
        END AS base_id,
        TO_DATE(pickup_datetime) AS pickup_date,
        TO_DATE(dropoff_datetime) AS dropoff_date,
        PULocationID,
        DOLocationID
    FROM trips
""")

# Show the result
sql_result.show()

+-------+-----------+------------+------------+------------+
|base_id|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-------+-----------+------------+------------+------------+
|  e/B3E| 2021-01-01|  2021-01-01|         132|         246|
|  e/B38| 2021-01-02|  2021-01-02|         205|          98|
|  e/ACC| 2021-01-02|  2021-01-02|          77|         155|
|  e/9CE| 2021-01-02|  2021-01-02|          51|         166|
|  e/9CE| 2021-01-03|  2021-01-03|          18|         259|
|  a/B31| 2021-01-02|  2021-01-02|          77|          80|
|  e/9CE| 2021-01-02|  2021-01-02|         113|         170|
|  e/B38| 2021-01-02|  2021-01-02|         186|         249|
|  e/B33| 2021-01-03|  2021-01-03|          85|          14|
|  e/B32| 2021-01-03|  2021-01-03|         225|          35|
|  e/9CE| 2021-01-02|  2021-01-02|         202|          87|
|  e/B3B| 2021-01-02|  2021-01-02|         147|         220|
|  a/B37| 2021-01-03|  2021-01-03|         252|         223|
|  e/A39| 2021-01-03|  2021-01-03|          17|          97|
|  s/B3D| 2021-01-01|  2021-01-01|         210|         210|
|  e/9CE| 2021-01-01|  2021-01-01|         155|         155|
|  a/A7A| 2021-01-03|  2021-01-03|          17|          62|
|  e/ACC| 2021-01-03|  2021-01-03|          86|          86|
|  e/9CE| 2021-01-01|  2021-01-01|          48|          68|
|  e/9CE| 2021-01-01|  2021-01-01|          39|          89|
+-------+-----------+------------+------------+------------+
only showing top 20 rows

In [93]:
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
  .filter(df.hvfhs_license_num == 'HV0003')

DataFrame[pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int]

In [94]:
# Register the DataFrame as a temporary view
df.createOrReplaceTempView("trips")

# Use spark.sql to run the equivalent query
result = spark.sql("""
    SELECT 
        pickup_datetime,
        dropoff_datetime,
        PULocationID,
        DOLocationID
    FROM trips
    WHERE hvfhs_license_num = 'HV0003'
""")
result.show()

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-01 20:17:37|2021-01-01 20:56:04|         132|         246|
|2021-01-02 15:58:47|2021-01-02 16:25:07|         205|          98|
|2021-01-02 16:51:34|2021-01-02 17:15:32|          77|         155|
|2021-01-02 03:15:18|2021-01-02 03:35:44|          77|          80|
|2021-01-02 20:22:58|2021-01-02 20:28:47|         186|         249|
|2021-01-03 08:35:23|2021-01-03 09:11:53|          85|          14|
|2021-01-03 16:19:47|2021-01-03 16:38:38|         225|          35|
|2021-01-02 17:45:13|2021-01-02 18:15:55|         147|         220|
|2021-01-03 19:58:04|2021-01-03 20:13:21|         252|         223|
|2021-01-03 15:36:47|2021-01-03 15:50:11|          17|          97|
|2021-01-01 21:00:03|2021-01-01 21:04:58|         210|         210|
|2021-01-03 00:53:34|2021-01-03 01:04:45|          17|          62|
|2021-01-03 05:17:38|2021-01-03 05:21:16|          86|          86|
|2021-01-01 02:10:58|2021-01-01 02:15:14|         254|         174|
|2021-01-02 05:41:51|2021-01-02 05:49:41|          71|          89|
|2021-01-03 09:41:12|2021-01-03 10:01:36|           7|         166|
|2021-01-01 03:17:38|2021-01-01 03:32:37|          77|          71|
|2021-01-01 03:36:31|2021-01-01 04:05:00|         165|         132|
|2021-01-01 18:48:05|2021-01-01 19:16:55|          51|         235|
|2021-01-01 23:58:00|2021-01-02 00:12:47|          85|         177|
+-------------------+-------------------+------------+------------+
only showing top 20 rows